{% extends "base.html" %} {% block content %}
<div class="mx-8 my-8 flex flex-col space-y-6">
  <section
    href="#"
    class="block max-w-md p-6 bg-white border rounded-lg shadow dark:bg-gray-800 border-gray-700"
  >
    <h1
      class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
    >
      Customize
    </h1>

    <section class="flex items-center">
      <span class="text-white pr-2">Monthly total amount: </span>
      <textarea
        id="amounttext"
        rows="1"
        class="block pl-1 text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 resize-none"
        placeholder="$"
      ></textarea>
    </section>

    <p class="font-normal text-white">
      Your next billing cycle: <span class="text-blue-400"> 08/28/2023 </span>
    </p>

    <h3 class="text-xl font-bold tracking-tight text-white mt-4">
      Constant amounts
    </h3>
    <p class="text-gray-300 text-sm pb-1">
      Pay out a constant amount to certain creators
    </p>

    <section class="flex items-center space-x-2">
      <textarea
        id="ytID"
        rows="1"
        class="inline pl-1 text-sm text- bg-gray-50 rounded-lg border bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500 resize-none"
        placeholder="@PatronPal_ID"
      ></textarea>
      <textarea
        id="ytID"
        rows="1"
        class="inline pl-1 text-sm text-gray-900 bg-gray-50 rounded-lg border dark:bg-gray-700 dark:border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500 resize-none"
        placeholder="Number"
      ></textarea>

      <button
        id="dropdownHoverButton"
        data-dropdown-toggle="dropdownHover"
        data-dropdown-trigger="hover"
        class="inline text-white hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-2 py-0.5 text-center inline-flex items-center bg-blue-600 hover:bg-blue-700 focus:ring-blue-800 transition ease-in-out duration-500"
        type="button"
      >
        %
        <svg
          class="w-2.5 h-2.5 ml-2.5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 10 6"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 1 4 4 4-4"
          />
        </svg>
      </button>

      <!-- Dropdown menu -->
      <div
        id="dropdownHover"
        class="z-10 hidden divide-y divide-gray-100 rounded-lg shadow w-12 bg-gray-700"
      >
        <ul
          class="py-1 text-sm text-gray-200 hover:cursor-pointer"
          aria-labelledby="dropdownHoverButton"
        >
          <li>
            <a href="#" class="px-2">$</a>
          </li>
        </ul>
      </div>
    </section>
  </section>

  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="px-6 py-3">Creator Name</th>
          <th scope="col" class="px-6 py-3">
            <div class="flex items-center">
              Time Watched
              <a href="#"
                ><svg
                  class="w-3 h-3 ml-1.5"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"
                  />
                </svg>
              </a>
            </div>
          </th>
          <th scope="col" class="px-6 py-3">
            <div class="flex items-center">
              Category
              <a href="#"
                ><svg
                  class="w-3 h-3 ml-1.5"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"
                  />
                </svg>
              </a>
            </div>
          </th>
          <th scope="col" class="px-6 py-3">
            <div class="flex items-center">
              Donated
              <a href="#"
                ><svg
                  class="w-3 h-3 ml-1.5"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"
                  />
                </svg>
              </a>
            </div>
          </th>
          <th scope="col" class="px-6 py-3">
            <span class="sr-only">Visit Profile</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
          <th
            scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
          >
            Kurzgesagt
          </th>
          <td class="px-6 py-4">20h 49m</td>
          <td class="px-6 py-4">Education</td>
          <td class="px-6 py-4">$102</td>
          <td class="px-6 py-4 text-right">
            <a
              href="#"
              class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
              >Visit Profile</a
            >
          </td>
        </tr>
        <tr class="border-b bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
          <th
            scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
          >
            Mark Rober
          </th>
          <td class="px-6 py-4">8h 22m</td>
          <td class="px-6 py-4">Science & Technology</td>
          <td class="px-6 py-4">$58</td>
          <td class="px-6 py-4 text-right">
            <a
              href="#"
              class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
              >Visit Profile</a
            >
          </td>
        </tr>
        <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
          <th
            scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
          >
            Fireship.io
          </th>
          <td class="px-6 py-4">3h 14m</td>
          <td class="px-6 py-4">Entertainment</td>
          <td class="px-6 py-4">$16</td>
          <td class="px-6 py-4 text-right">
            <a
              href="#"
              class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
              >Visit Profile</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
